<li><a href="#"><a href="<%=showmynews_path(title: news.title.parameterize, newscat: (news.categories[0].try(:name)||"macat"))%>"><%=news.title%><br>  Publiée le <%=l(news.created_at, format: :datefr)%></a></li>
