<!DOCTYPE html>
<!-- saved from url=(0028)/ -->
<html class="-webkit- js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" lang="fr-FR" prefix="og: http://ogp.me/ns#" style=""><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mairie de Cayenne</title>
    <meta name="description" content="Site officiel de la ville de Cayenne">
    <meta name="viewport" content="width=1024">
  <script type="text/javascript" async="" src="/application.html_files/ga.js"></script><script src="/application.html_files/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/themes/cayenne.fr/js/libs/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="/application.html_files/prefixfree-1.0.7.min.js"></script>

  <script>var mairie_template = "/themes/cayenne.fr"; </script>

  
<!-- This site is optimized with the Yoast SEO plugin v3.0.7 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Site officiel de la ville de Cayenne">
<meta name="robots" content="noodp">
<link rel="canonical" href="/">
<link rel="next" href="/page/2/">
<meta property="og:locale" content="fr_FR">
<meta property="og:type" content="website">
<meta property="og:title" content="Mairie de Cayenne">
<meta property="og:description" content="Site officiel de la ville de Cayenne">
<meta property="og:url" content="">
<meta property="og:site_name" content="Mairie de Cayenne">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Site officiel de la ville de Cayenne">
<meta name="twitter:title" content="Mairie de Cayenne">
<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","url":"\/","name":"Mairie de Cayenne","potentialAction":{"@type":"SearchAction","target":"\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.24"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="/application.html_files/wp-emoji-release.min.js" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<style media="all" data-href="/commons/notification_bar/style.css">#notificationbar-wrapper {display: block; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 5000; height: 33px;}
#notificationbar-container {background: rgb(219, 71, 42); color: #ffffff; border-bottom-color: #ffffff; font-size: 14px; font-weight: normal; height: 30px; line-height: 30px; margin: 0; overflow: visible; padding: 0; position: relative; text-align: center; width: 100%; z-index: 1000; border-bottom-width: 3px; border-bottom-style: solid; }
#notificationbar-shadow {position: absolute; bottom: -8px; left: 0; width: 100%; height: 8px; line-height: 8px; overflow: hidden; background: url("/commons/notification_bar/notificationbar_bottom.png"); }
#notificationbar-wrapper a.notificationbar-link{
  background: rgb(112, 23, 23);
  color: #fff;

  position: relative;
  border-radius: 4px;
  padding: 3px 8px 3px 8px;
  margin: 0 0 0 7px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
}
</style>
<style media="all" data-href="/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70">/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
</style>
<style media="all" data-href="/themes/cayenne.fr/css/style-emairie.css">/* Gravity Form */
img.add_list_item {
    height: 20px;
    width: 20px;
}
img.delete_list_item {
    height: 20px;
    width: 20px;
}
/* Classes communes emairie 2.0*/

#post-nav .wp-pagenavi {clear: both; line-height:11px; font-size: 11px; padding-bottom: 80px; }
#post-nav .wp-pagenavi a, .wp-pagenavi span { /*float:left;*/ border-left: 1px solid #ededed; border-top:none!important; border-bottom: none!important; border-right: none!important; padding-left: 11px; padding-right:11px;  }
.wp-pagenavi span.pages { border:none!important;}
#post-nav .wp-pagenavi a:hover, .wp-pagenavi span.current { color: #53aed7; }
#post-nav .wp-pagenavi span.current {font-weight: bold; color: #696969; border-color: #ededed; padding-left: 11px; padding-right:11px; }
#post-nav .wp-pagenavi span.pages+a.previouspostslink { border:none!important; }

/*.meta { width: 160px; float: right; margin-bottom:30px; padding-left: 10px; border-left: 1px solid #ededed; margin-left: 10px; }
.meta p { line-height: 19px; padding-bottom: 0; }
.meta p em { color: #c3c3c3; margin-right: 5px; }
.meta p em a:before { content: "‣ "; }
.meta .meta-links { padding-top: 12px; }*/

.liste-conseil-municipal h1 { padding-top: 40px; padding-bottom: 0px; }
.liste-conseil-municipal:first-of-type h1 { padding-top: 0; }
.liste-conseil-municipal h2 { padding-top: 20px; padding-bottom: 10px; }
.liste-conseil-municipal ul { list-style: none; }
.liste-conseil-municipal li { line-height: 30px; background: transparent url("/themes/cayenne.fr/css/../img/icone_pdf.png") center left no-repeat; padding-left: 22px!important; padding-bottom: 0!important; }

.single-annuaire .main .sous-titre { margin-top: -30px; font-style: italic; font-size: 18px; }
.single-annuaire .main h2 { padding-top: 16px; }
.single-annuaire .main .contact h3 { padding-top: 10px;}
.single-annuaire .main .contact h3:first-child { padding-top: 0;}

.post-annuaire .telephone,
.post-annuaire .fax,
.post-annuaire .email,
.post-annuaire .web,
.post-annuaire .twitter,
.post-annuaire .facebook { line-height: 24px; }

.post-annuaire .telephone { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_telephone.png") center left no-repeat; padding-left: 22px; }
.post-annuaire .fax { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_fax.png") center left no-repeat; padding-left: 22px; }
.post-annuaire .email { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_email.png") center left no-repeat; padding-left: 22px; }
.post-annuaire .web { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_web.png") center left no-repeat; padding-left: 22px; }
.post-annuaire .twitter { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_twitter.png") center left no-repeat; padding-left: 22px; }
.post-annuaire .facebook { background: transparent url("/themes/cayenne.fr/css/../img/annuaire_facebook.png") center left no-repeat; padding-left: 22px; }

.single-annuaire .meta { width: 220px; margin-left: 25px; padding-left: 0; border: none!important; }
.single-annuaire .meta img { width: 200px; }

.annuaire-slider .pagging { position:absolute; top: -15px; left: 18px; width: 658px; height: 16px; background: none; }
.annuaire-slider .pagging a { background: url("/themes/cayenne.fr/css/../img/control-nav.png") no-repeat right 0; width: 11px; height: 11px; font-size: 0; line-height: 0; text-indent: -4000px; float:left;  }
.annuaire-slider .pagging a.selected { background-position: 0 0; }

.annuaire-slider .arrs a { background: url("/themes/cayenne.fr/css/../img/slider-arrs.png") no-repeat 0 0; width: 9px; height: 26px; position:absolute; margin-top: -20px; }
.annuaire-slider .arrs a.prev-btn { right: 35px; }
.annuaire-slider .arrs a.next-btn { background-position: right 0; right: 15px; }

.annuaire-slider { width:658px; position:relative; padding-left: 10px; height: 340px !important;  }
.annuaire-slider ul { list-style:none; list-style-position: }
.annuaire-slider ul li+li { visibility: hidden; } 
.annuaire-slider ul li { width: 215px;float: left; margin: 0; padding: 0; border: none!important;  }
.annuaire-slider ul li .img-holder { margin-bottom: 8px;  width: 658px; padding: 5px 0; }
.annuaire-slider ul li .img-holder img { width: 658px; }
.annuaire-slider ul li figure { font-size: 13px; color:#1880b1; padding-bottom: 6px; }
.annuaire-slider .caroufredsel_wrapper {min-height: 400px;}

.annuaire .img-holder, .annuaire .img-holder img { width:auto; height: auto; }
.annuaire .meta-left { width : 49%; float: left; }
.annuaire .meta-right { width : 49%; float: right; }
.annuaire .meta-left p { font-size: 12px; }
.annuaire .border { border-top: 1px dashed rgb(219, 219, 219); }
.annuaire .post-meta { border-bottom: none; }

.search-annu-box {padding: 20px 0 20px 200px; margin: 0 0 40px 0px ;  background: transparent url("/themes/cayenne.fr/css/../img/loupe.png") center left no-repeat ; background-color: #5298c0; background-position: 50px 50%; border-radius: 6px; }
.search-annu-box .label { color: #FFF; text-align: right; margin-right: 14px; }
.search-annu-box select { width: 300px; line-height: 24px; font-size: 12px; }
.search-annu-box input { width: 288px; border-radius: 3px; border-color: transparent; padding: 4px; }
.recherche_annuaire, .types_annuaire, .subtypes_annuaire { line-height: 36px; text-align: right; display: block; clear: both; margin-right: 50px; }
.search-annu-box input.searchinput { background-color: #3c6a83; color: #FFF; position: relative; left: 150px; width: 300px; height: 34px; margin-top: 10px; font-size: 16px; }

.gallery {margin: auto; }
.gallery-item { margin-top: 10px; text-align: center; width: 33%; border-bottom:none!important; padding-left: 0!important; display: inline-block;vertical-align: top;}
.gallery-caption {margin-left: 0; }

.post-list-template li { font-size: 16px; font-weight: bold; margin-top: 2em; border-bottom: none;}
.post-list-template li li { font-size: 14px; font-weight: normal; margin-top: 1.4em; border-bottom: 1px solid #f5f5f5;}
.post-list-template li li li { font-size: 12px;}

#phototheque-container .etabs { margin: 0; padding: 0; }
#phototheque-container li { padding: 0; margin: 0; background: none; }
#phototheque-container .album-tab {display: inline-block; zoom:1; *display:inline; text-decoration: none; padding: 0px; overflow: hidden; background-color: #e0e0e0; border: 1px solid rgba(255, 255, 255, 0.2); margin: 0 3px 0 0px; transition:all 0.2s ease-in-out; }
#phototheque-container .album-tab a {font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
#phototheque-container .album-tab a:hover { text-decoration: none; }
#phototheque-container .album-tab.active {position: relative; top: 1px; border-color: 1px solid rgba(255, 255, 255, 0.2); background-color: #217DD3; }
#phototheque-container .album-tab a.active { font-weight: bold; color: #FFF;}
#phototheque-container.tab-container .panel-container {background: #fff; border: solid #666 1px; padding: 10px; }
#phototheque-container .zoom {z-index: 9999; padding-top: 10px; }
#phototheque-container {display: block; padding-top: 10px; margin-bottom: 20px; } 
#phototheque-container ul.thumb {font-size: 0; line-height: 0; }
#phototheque-container ul.thumb li {margin: 3px; list-style: none; display: inline; font-size: 0; line-height: 0;  }
#phototheque-container .album+.album {display: none; }
#phototheque-container ul.thumb {margin: 20px 0 0 0; }
#phototheque-container ul.thumb li img {border: none; left: 0; top: 0; padding: 0; -ms-interpolation-mode: bicubic; -webkit-transition:All 0.2s ease-in-out; -moz-transition:All 0.2s ease-in-out; -o-transition:All 0.2s ease; transition:All 0.2s ease;}
#phototheque-container ul.thumb li img:hover {z-index:10; transform: scale(1.05);}


.wp-forecast-curr { padding: 0!important;}
.wp-forecast-curr-head {display: none;}
.wp-forecast-curr-right {text-decoration: none; margin: 1px 16px 0 0px; float: left; color: #898989; font-size: 20px!important; font-family: 'harabara-regular', arial, serif; padding:0!important;}
img.wp-forecast-curr-left {padding: 1px 0 0 0!important; }
div.wp-forecast-curr-left {background: url("/themes/cayenne.fr/css/../img/weather_bg.png") no-repeat 10px; margin-top: -5px;}

.gform_wrapper ul li { border: none; padding-left: 0;}
.gform_wrapper input.button { width: 113px; height: 30px; font-size: 12px; color: #ebf5fa;  display:block; border: 0; background: url("/themes/cayenne.fr/css/../img/submit-btn.png") no-repeat 0 0; cursor: pointer; text-shadow: rgba(0,0,0,0.6) -1px 0px 0px; font-weight: bold; }
.gform_wrapper .gform_footer { padding-top: 0; }
.gform_wrapper .top_label .gfield_label { display:block; font-size: 12px; line-height: 17px; padding-bottom: 6px; color: #787878; }
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] { width: 312px; height: 15px; font-size: 12px; color: #787878; padding: 7px 10px; border: 1px solid #e8e8e8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.gform_wrapper .top_label textarea.textarea { width: 518px; height: 117px; padding: 10px; color: #787878;  font-size: 12px; border: 1px solid #e8e8e8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.gform_wrapper .top_label input:focus, .gform_wrapper .top_label textarea.textarea:focus { border-color: #c9ebfa;  }

table {width: 100%; color: #333; padding: 0; margin-bottom: 15px; margin-top: 10px; border-width: 0; border-style: none; border-collapse: collapse; border-spacing: 0; }
td img {vertical-align: middle; margin: 0 5px 0 0; padding: 0; } 
th, td {border-style: none; padding: 10px; margin: 0; border-width: 0; }
table thead th {font-weight: normal; text-transform: uppercase; margin: 0; font-size: 14px; font-family: 'harabara-regular', arial, serif; letter-spacing: 2px; }
table thead tr {background-color: #5298c0; color: #fff; margin: 0; padding: 7px; }
table tbody tr:nth-child(odd)    { background-color:rgb(244, 249, 252); }
table tbody tr:nth-child(even)    { background-color:#fff; }
table tbody td {border: 1px solid rgb(230, 235, 238); }

/*Classe héritées eMairie 1.0*/
.demi {padding: 9px; font-size: 12px; margin: 0 10px 9px 0; float: left; display: block; width: 46%; }
.entier {color: #fff; padding: 10px;margin: 10px 0; display: block; clear: both; }
p.demi, p.entier {padding-bottom: 10px;}
.rond {display: block; border-radius: 5px; }
.bleu {background-color: #d9e8fc; color: #103246; }
.rouge {background-color: #d6001b; color: #fff; }
.noir {background-color: #333; color: #fff; }
.rose {background-color: #fdd6da; color: #712c44; }
.violet {background-color: #e5d3fe; color: #44166b; }
.vert {background-color: #c8deb5; color: #28350c; }
.jaune {background-color: #ffee91; color: #333; }
.orange {background-color: #ffd57d; color: #4f1906; }
/*.image-cadre {border: 9px solid #ddd; }*/

.post img.alignleft { margin: 0 14px 14px 0; }
.post img.alignright { margin: 0 0 14px 14px; }
</style>
<link rel="stylesheet" id="fancybox-css" href="http://cayenne.emairie.fr/wp-content/plugins/easy-fancybox/fancybox/jquery.fancybox-1.3.7.min.css?ver=1.5.7" type="text/css" media="screen" data-inprogress="">
<script type="text/javascript" src="/application.html_files/wpf_update.js"></script>
<script type="text/javascript" src="/application.html_files/home.js"></script>
<script type="text/javascript" src="/application.html_files/main.js"></script>
<link rel="https://api.w.org/" href="/wp-json/">
<style media="screen" data-href="/plugins/wp-forecast/wp-forecast-default.css">/* style for forecast data details left side */
div.wp-forecast {
    padding: 0px;
    float:left;
}

/* style for current weather data */
div.wp-forecast-curr {
    font-size: 11px; 
    padding: 3px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
/* style for forecast data */
div.wp-forecast-curr-head {
    font-size: 11px; 
    padding: 3px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

/* style for forecast data details */
div.wp-forecast-curr-block {
    padding: 0px;
    float:left;
}

/* style for forecast data details left side */
div.wp-forecast-curr-left {
    padding: 3px;
    float: left;
}

/* style for forecast data details right side */
div.wp-forecast-curr-right {
    font-size: 14px; 
    font-weight: bolder;
    font-variant: small-caps;
    text-align:left;
    padding: 3px;
    float: left; 
}


/* style for current weather data details */
div.wp-forecast-curr-details {
    font-size: 11px; 
    padding: 6px;
    text-align:left;
    float:left;
}

/* style for current weather icon */
img.wp-forecast-curr-left {
    width: 48px;
    height: 30px;
    padding: 0px;
}


/* style for forecast data */
div.wp-forecast-fc {
    font-size: 11px; 
    padding: 2px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    float:left;
}

/* style for forecast data */
div.wp-forecast-fc-head {
    font-size: 11px; 
    padding: 3px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}

/* style for forecast data details */
div.wp-forecast-fc-oneday {
    padding: 0px;
}

/* style for forecast data details */
div.wp-forecast-fc-block {
    padding: 3px;
    float:left;
}
/* style for forecast data details left side */
div.wp-forecast-fc-left {
    font-size: 11px; 
    padding: 3px;
    text-align:center;
    float: left; 
}

/* style for forecast data details right side */
div.wp-forecast-fc-right {
    font-size: 11px; 
    padding: 3px;
    text-align:left; 
    width: 90px;
    float: right; 
}

/* style for forecast weather icon */
img.wp-forecast-fc-left {
    width: 48px;
    height: 30px;
    padding: 0px;
}


/* style for navigation when using ajax pulldown */
div.wpff_nav {
    font-size: 11px; 
    border: 0px solid;
    padding: 1px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    float: left;
    height: 11px;
}

div.wpff_nav:hover {
    color:#147;
    text-decoration:underline; 
    cursor:pointer;
}

/* style for selection widget */
div.wpf-selector {
    padding: 5px;
    font-size: 11px;
}

iframe.wpf-iframe {
    border: 0px;
}

td.td-center {
	text-align: center;
}
</style>

<!-- Easy FancyBox 1.5.7 using FancyBox 1.3.7 - RavanH (http://status301.net/wordpress-plugins/easy-fancybox/) -->
<script type="text/javascript">
/* <![CDATA[ */
var fb_timeout = null;
var fb_opts = { 'overlayShow' : true, 'hideOnOverlayClick' : true, 'showCloseButton' : true, 'centerOnScroll' : true, 'enableEscapeButton' : true, 'autoScale' : true };
var easy_fancybox_handler = function(){
	/* IMG */
	var fb_IMG_select = 'a[href*=".jpg"]:not(.nofancybox,.pin-it-button), area[href*=".jpg"]:not(.nofancybox), a[href*=".gif"]:not(.nofancybox,.pin-it-button), area[href*=".gif"]:not(.nofancybox), a[href*=".png"]:not(.nofancybox,.pin-it-button), area[href*=".png"]:not(.nofancybox)';
	jQuery(fb_IMG_select).addClass('fancybox image').attr('rel', 'gallery');
	jQuery('a.fancybox, area.fancybox, li.fancybox a:not(li.nofancybox a)').fancybox( jQuery.extend({}, fb_opts, { 'transitionIn' : 'elastic', 'easingIn' : 'easeOutBack', 'transitionOut' : 'elastic', 'easingOut' : 'easeInBack', 'opacity' : false, 'hideOnContentClick' : false, 'titleShow' : true, 'titlePosition' : 'over', 'titleFromAlt' : true, 'showNavArrows' : true, 'enableKeyboardNav' : true, 'cyclic' : false }) );
}
/* ]]> */
</script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10298033-3']);
    _gaq.push(['_setDomainName', 'cayenne.fr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
    <style media="" data-href="/themes/cayenne.fr/css/fonts.css">
@font-face {
    font-family: 'robotomedium_italic';
    src: url("/themes/cayenne.fr/css/fonts/roboto-mediumitalic-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-mediumitalic-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-mediumitalic-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-mediumitalic-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

.roboto_mIt { font-family: 'robotomedium_italic', Arial, sans-serif; }


@font-face {
    font-family: 'robotomedium';
    src: url("/themes/cayenne.fr/css/fonts/roboto-medium-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-medium-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-medium-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-medium-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-medium-webfont.svg#robotomedium") format('svg');
    font-weight: normal;
    font-style: normal;

}
.roboto_m,
aside .news-box a { font-family: 'robotomedium', Arial, sans-serif; }




@font-face {
    font-family: 'robotoregular';
    src: url("/themes/cayenne.fr/css/fonts/roboto-regular-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-regular-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-regular-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-regular-webfont.svg#robotoregular") format('svg');
    font-weight: normal;
    font-style: normal;

}
.roboto { font-family: 'robotoregular', Arial, sans-serif; }




@font-face {
    font-family: 'robotoitalic';
    src: url("/themes/cayenne.fr/css/fonts/roboto-italic-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-italic-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-italic-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-italic-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-italic-webfont.svg#robotoitalic") format('svg');
    font-weight: normal;
    font-style: normal;

}
.roboto_i { font-family: 'robotoitalic', Arial, sans-serif; }




@font-face {
    font-family: 'robotobold_italic';
    src: url("/themes/cayenne.fr/css/fonts/roboto-bolditalic-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-bolditalic-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-bolditalic-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-bolditalic-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-bolditalic-webfont.svg#robotobold_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}
.roboto_boldI { font-family: 'robotobold_italic', Arial, sans-serif; }




@font-face {
    font-family: 'robotobold';
    src: url("/themes/cayenne.fr/css/fonts/roboto-bold-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/roboto-bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/roboto-bold-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/roboto-bold-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/roboto-bold-webfont.svg#robotobold") format('svg');
    font-weight: normal;
    font-style: normal;

}
.roboto_b,
.main .content-col h3,
.list-boxes h5,
.main aside h3,
h1,
aside .aside-box h2,
.post-c .meta ,
.post-c .btn { font-family: 'robotobold', Arial, sans-serif; }

@font-face {
    font-family: 'optimabold';
    src: url("/themes/cayenne.fr/css/fonts/optimabold-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/optimabold-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/optimabold-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/optimabold-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/optimabold-webfont.svg#optimabold") format('svg');
    font-weight: normal;
    font-style: normal;
}

.optimaBold,
article h3,
article h4  { font-family: 'optimabold', Arial, sans-serif; }

@font-face {
    font-family: 'optima';
    src: url("/themes/cayenne.fr/css/fonts/optima-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/optima-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/optima-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/optima-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/optima-webfont.svg#optimaroman") format('svg');
    font-weight: normal;
    font-style: normal;
}

.optima, table { font-family: 'optima', Arial, sans-serif; }

@font-face {
    font-family: 'intro_regular';
    src: url("/themes/cayenne.fr/css/fonts/intro-webfont.eot");
    src: url("/themes/cayenne.fr/css/fonts/intro-webfont.eot?#iefix") format('embedded-opentype'),
         url("/themes/cayenne.fr/css/fonts/intro-webfont.woff") format('woff'),
         url("/themes/cayenne.fr/css/fonts/intro-webfont.ttf") format('truetype'),
         url("/themes/cayenne.fr/css/fonts/intro-webfont.svg#intro_regular") format('svg');
    font-weight: normal;
    font-style: normal;
}
#navigation li a span { font-family: 'intro_regular', Arial, sans-serif; }
</style>
    <style media="" data-href="/themes/cayenne.fr/css/style.css">* { padding:0; margin:0; outline:0; }

body {
	background: #071522 url("/themes/cayenne.fr/css/images/bg_anse_chaton_sept2017.jpg") no-repeat center 0; 
	font-family: 'robotoregular', Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;;
	color: #000;
}
body.archive { background-image:url("/themes/cayenne.fr/css/images/bg_anse_chaton_sept2017.jpg"); }
body.page { background-image:url("/themes/cayenne.fr/css/images/bg_anse_chaton_sept2017.jpg"); }
body.pages { background-image:url("/themes/cayenne.fr/css/images/bg_anse_chaton_sept2017.jpg"); }
body.single { background-image:url("/themes/cayenne.fr/css/images/bg_anse_chaton_sept2017.jpg"); }



a img { border:0; }
a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a,
a img,
#slider_m .featured-txt h2 { transition: color 1000ms, background-color 1000ms, opacity 1000ms; -webkit-transition: color 1000ms, background-color 1000ms, opacity 1000ms; }

a:hover,
a:hover img,
#slider_m:hover .featured-txt h2 { transition: color 300ms, background-color 300ms, opacity 300ms; -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;}

a:hover img { opacity: 0.6; -moz-opacity: 0.6; filter:alpha(opacity=60); }

ul { list-style-type: none; }

input, textarea, select { font-size: 12px; font-family: Arial, sans-serif; }
textarea { overflow: auto; }
.submit-button { cursor: pointer; border: 0; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.clearfix,
.post-c .entry ul { *zoom: 1; }
.clearfix:after,
.post-c .entry ul:after { width: 100%; content: ''; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; display: block; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { background: url("/themes/cayenne.fr/css/images/pattern.png") repeat 0 0; }
.shell { width: 960px; margin:0 auto; }
.content-box { background: #fff; padding: 0 10px; }
h1,h2,h3,h4,h5 { font-weight: normal; }

/*
	Header
*/

#header { position: relative; height: 129px; margin-bottom: 25px; }

h1#logo { padding: 18px 0 0 18px; width: 190px;}
h1#logo a{ display:block; height: 121px; background:url("/themes/cayenne.fr/css/images/logo.jpg") no-repeat 0 0; }



#navigation {
  width: 694px;
}

#navigation .drop-down { display: none;}
#navigation > ul > li { float:left; height: 138px; margin-left: 1px; }
#navigation > ul > li > a { display:block; padding: 0 11px; padding-top: 87px; font-size: 17px; line-height: 23px; color: #fff; }
#navigation > ul > li > a span { display: block; text-transform: uppercase; font-size: 16px; }
#navigation li.list_01,
#navigation li.list_01 .drop-down { background-color: #6e2a81; }
#navigation li.list_02,
#navigation li.list_02 .drop-down { background-color: #3f83c0; }
#navigation li.list_03,
#navigation li.list_03 .drop-down { background-color: #11559e; }
#navigation li.list_04,
#navigation li.list_04 .drop-down { background-color: #899fd3; }
#navigation li.list_05,
#navigation li.list_05 .drop-down { background-color: #3f5589; }
#navigation li.list_06,
#navigation li.list_06 .drop-down { background-color: #3f83c0; }
/*#navigation li.list_01 a ,#navigation li.list_06 a { padding-top: 110px }*/

#navigation .drop-down {
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 694px;
  z-index:10;
}
#navigation .drop-down img { margin: 0 35px 0 18px; border: 1px solid #fff;}
#navigation .drop-down .sub-menu { width: 980px; }
#navigation .drop-down ul { float:left; width: 225px; margin-right: 20px; }
#navigation .drop-down ul.right { margin-right: 0; }
#navigation .drop-down ul li { padding-left: 13px; background: url("/themes/cayenne.fr/css/images/bullet_10.png") no-repeat 0 7px;  }
#navigation .drop-down ul li a {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    white-space: nowrap;
}
#navigation .drop-down ul li a:hover { text-decoration: none; color: #e6a9f7; }

/*
	Content
*/

#content { }

.breadcrumbs { position: relative; height: 29px; margin: -12px 0 30px; padding: 0 6px 0 15px; background-color: #cdd8f1; line-height: 29px; font-size: 12px; color: #3f5589; }
.breadcrumbs li { float:left; }
.breadcrumbs li span { padding-left: 5px; color: #3f83c0; }
.breadcrumbs li a { padding: 0 5px; color: #3f5589; }
.breadcrumbs li a:hover { color: rgba(63,85,137,0.7); text-decoration:none; }
.breadcrumbs li:first-child a { padding-left: 0; }
.breadcrumbs ul.right li a { color: #3f83c0; }
.breadcrumbs ul li a.fb-icon { display: block;padding-top: 3px; height:t 22px; }

h1.page-title { margin-bottom: 25px; padding-bottom: 10px; font-size: 27px; line-height: 31px; color: #3f83c0; border-bottom: 1px solid #e7e7e7; }
.post .meta { margin-bottom: 15px; color: #777777; }
.post .meta li a { color: #3f83c0; text-transform: uppercase;}
.post .meta li a:hover { color: rgba(63,131,192,0.7); }
.post .meta li span { color: #3f5589; }
.post .meta li {display:inline; padding-right: 10px; }
.post .meta li.last span { text-transform: uppercase; }

.post .box { width: 165px; margin-left: 22px; padding: 15px 12px; background-color: #68a92f; font-size: 13px; line-height: 19px; color: #fff; }
.post .box li { margin-bottom: 6px; }
.post .box li span { display: block; color: #283a19; }
.post .box a { color: #fff; }
.post .box a:hover { text-decoration: none; color: rgba(255,255,255,0.7); }

article { font-size: 13px; line-height: 20px; color: #333333; }
article p { padding-bottom: 12px; }
article p a { color: #11559e; text-decoration: underline; }
article p a:hover { text-decoration: none; }
article > ul { margin-bottom: 30px; }
article h1 { padding-bottom: 6px; font-size: 25px; line-height: 30px; color: #109345;  }
article h2 { padding-bottom: 6px; font-size: 20px; line-height: 24px; color: #109345;  }
article h3 { padding-bottom: 4px; font-size: 18px; line-height: 22px; color: #109345; }
article h3 { padding-bottom: 4px; font-size: 14px; line-height: 18px; color: #109345; }

.gallery { padding-top: 10px; margin-bottom: 35px; }
.gallery li { float:left; margin-left: 22px; }
.gallery li:first-child { margin-left: 0; }

article .img-holder.right { margin-left: 15px; }
article .img-holder.left { margin-right: 15px; }

blockquote {margin-bottom: 20px; padding-left: 32px; background: url("/themes/cayenne.fr/css/images/quote.png") no-repeat 0 3px; font-size: 16px; line-height: 20px; color: #969696; }
article.purple-box { background-color: #6e2a81; }
article.blue-box {  background-color: #3f5589; }
article.blue-box, article.purple-box  { padding: 4px 8px; margin-bottom: 25px; font-size: 16px; line-height: 20px; color: #fff; }
article.blue-box p, article.purple-box p { padding-bottom: 0; }

table { margin-bottom: 45px; width: 658px;  border-collapse:collapse; border-spacing: 0; border: 1px solid #d7d7d7; }
table td, table th {padding:0;vertical-align: top; width: 135px; text-align:center; vertical-align: middle; line-height: 39px; border-top:1px solid #d7d7d7; border-left: 1px solid #d7d7d7; }
table td:first-child, table th:first-child { border-left: 0; }
table tr:first-child th { border-top: 0; }
table th { background: #3f83c0; font-size: 13px; color: #fff; text-transform: uppercase; font-weight: normal; }
table td { font-size: 14px; color: #5a5a5a; }
table .even td { background-color: #ededed; }

.share-list li { float:left; padding-left: 4px; }

.comments ul { padding-bottom: 0px; font-size: 13px; line-height: 18px; color: #333333; margin: 0!important; position: relative; float: left; }
.comments li {
  float: left;
  margin: 0 0 0 50px !important;
  padding: 0 !important;
  position: relative;
 /*  border: 1px solid red;*/
}.comments ul.children { margin: 20!important;  position: relative; float: left;}

.comments ul#contentFirst {
  float: left;
  margin-left:-50px !important;
  position: relative;
}

.comments h2,
.comment-form h2  { margin-bottom: 15px; font-size: 18px; line-height: 22px; color: #3f83c0; }
.comments figure { float:left; margin-right: 10px; background: #fff; padding: 2px; /*border: 1px solid #f0f0f0;*/ border-radius: 3px; position: absolute; }
.comments .comment .sub-comment { padding-left: 70px; }
.comments .txt {
  /*border: 1px solid black;*/
  float: left;
  padding-bottom: 30px;
  padding-left: 70px;
  width: 90%;
}
.comments .comment.w-sub { background: url("/themes/cayenne.fr/css/images/comment-line.jpg") no-repeat 24px 0; }
.comments .comment.w-sub .sub-comment { background: url("/themes/cayenne.fr/css/images/sub-comment.jpg") no-repeat 31px 27px; }
.comments .title { display: block; color: #525252; font-size: 14px; line-height: 18px;  }
.metaDate {
  margin-bottom: 10px;
  width: auto;
  color: #949494;
}

.addthisZonePost {
  /*float: right;*/
  padding: 0 0 50px;
  text-align: right;
  width:100%;
}
.comments {
  width:100%;
}
.comments .metaDate a { margin-left: 40px; border-left: 1px solid #d9d9d9; padding-left: 12px; font-size: 13px; color: #3f83c0; }

.comment-form { padding-bottom: 35px; float:left;}
.comment-form label { display: block; margin-bottom: 3px; font-size: 14px; line-height: 17px; color: #2c2c2c;}
.comment-form label span { color: #c30202; }
.comment-form .field { width: 332px; height: 19px;margin-bottom: 14px; padding: 5px 10px; border: 1px solid #e8e8e8; background: #fff; }
.comment-form textarea { width: 636px; height: 127px; margin-bottom: 12px; border: 1px solid #e8e8e8;  }
.comment-form .submit-button { width: 112px; height:30px; background-color: #3f83c0; border-radius: 4px; color: #fff; font-size: 14px; line-height: 30px; }

.post-c { margin-bottom: 50px; }
.post-c h2 { margin-bottom: 14px; }
.post-c h2 a { color: #109345; }
.post-c h2 a:hover { text-decoration: none; color: rgba(16,147,69,0.7); }
.post-c figure.left { width: 170px; margin-right: 17px; }
.post-c .metaDate { color: #3f5589; font-size: 12px; }
.post-c .metaDate small { color: #777777; font-size: 12px; }
.post-c .metaDate a { color: #3f83c0; padding-right: 18px; text-transform: uppercase; }
.post-c .metaDate a:hover { color: rgba(63,131,192,0.7); text-decoration:none; }
.post-c p { padding-bottom: 15px; line-height: 17px; }
.post-c .btn { float: right; height: 28px; line-height: 28px; padding: 0 22px; background: #3f83c0; border-radius: 8px; }
.post-c .btn:hover { background:  rgba(63,131,192,0.7);  }
.post-c .entry { float: left; width: 455px; }
.post-c .entry h2 { margin-bottom: 4px; }
.post-c .entry .fun { margin-bottom: 4px; display:block; font-size: 16px; line-height: 20px; color: #333333; }
.post-c .entry .author { margin-bottom: 4px; display:block; font-size: 14px; line-height: 17px; color: #333333; }
.post-c .entry .post-list { margin-bottom: 12px; padding: 10px 0; border-top: 1px solid #109345; border-bottom: 1px solid #109345; font-size: 13px; line-height: 17px; color: #333; }
.post-c .entry .post-list ul { width: 480px; margin-bottom: 0px !important; }
.post-c .entry .post-list li { float:left; width: 220px; margin-right: 14px; margin-bottom: 6px; background:  none !important; padding-left:  0px !important; }
.post-c .entry .post-list li a { display: block; padding-left: 27px; background-repeat:no-repeat; background-image: url("/themes/cayenne.fr/css/images/list-icons.png"); line-height: 16px; color: #333;}
.post-c .entry .post-list li.icon_01 a { background-position: 0 0; }
.post-c .entry .post-list li.icon_02 a { background-position: 0 -37px; }
.post-c .entry .post-list li.icon_03 a { background-position: 0 -70px; }
.post-c .entry .post-list li.icon_04 a { background-position: 0 -102px; }
.post-c .entry .post-list li.icon_05 a { background-position: 0 -138px; }
.post-c .entry .post-list li.icon_06 a { background-position: 0 -166px; }
.post-c .entry .post-list li a:hover { opacity: 0.8; -moz-opacity: 0.8; filter:alpha(opacity=8);}
.post-c.narrow h2 { padding-bottom: 15px; margin-bottom: 8px; border-bottom: 1px solid #109345; }
.post-c.narrow div.left { width: 390px; margin-right: 10px; }
.post-c.narrow .entry { width: 100%; margin-bottom: 12px; padding-bottom: 10px; border-bottom: 1px solid #109345; }
.post-c.narrow ul.left { width: 235px; font-size: 13px; line-height: 17px; color: #333333; }
.post-c.narrow ul li { margin-bottom: 10px; padding-left: 20px; background: url("/themes/cayenne.fr/css/images/bullet_13.png") no-repeat 0 6px; }
.post-c.narrow ul li a { color: #3f83c0; }
.post-c.narrow ul li a:hover { color: rgba(63,131,192,0.8); text-decoration:none; }



.main-img { margin-bottom: 40px; }
.content-col ul li {padding-left: 15px; margin-bottom: 4px; background: url("/themes/cayenne.fr/css/images/bullet.png") no-repeat 0 6px; line-height: 18px; clear: both;}
.content-col ul { margin-bottom: 40px; }

.meta.roboto_b div {
  display: inline;
  padding: 0 15px 10px 0;
}

.content-col ol li {
  list-style-position: inside;
}

.content-col ol {
  padding: 10px 0px;
}




.featured-section { padding-bottom: 20px; }
.featured-section .sliders { width:725px; }
.featured-section .sliders .slider-c.left { overflow: hidden; position:relative; width: 532px; height: 370px; }
#slider_m .featured-item { position:relative; width: 532px; height: 370px; float:left; }
#slider_m .featured-txt {position: absolute; top: 19px; right: 0; text-align:right; color: #fff; }
#slider_m .featured-txt h2 { margin-bottom: 5px;padding: 5px 10px; font-size: 21px; line-height: 25px; color: #fff; background: #1f65ab; background: rgba(31,101,171,1); }
#slider_m:hover .featured-txt h2 { background: rgba(31,101,171,0.8) }
#slider_m .featured-txt span { font-size: 15px; line-height: 19px; padding: 5px 10px; background-color: #478bc7; background: rgba(71,139,199,0.8); }
.thumbs_m { position:absolute; overflow: hidden; top: 318px; left: 120px; z-index: 99; width: 300px; height: 45px;  }
.thumbs_m img { float:left; border: 1px solid #fff; margin: 0 5px; cursor: pointer; }
#thumbs_m img:hover { opacity: 0.9;
-moz-opacity: 0.9;
filter:alpha(opacity=9);}
.arrow { display:block; width: 22px; height: 22px; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-c.left .arrow { position: absolute; top: 325px;}
.arrow.prev { background: url("/themes/cayenne.fr/css/images/arrows_01.png") no-repeat 0 0;  }
.arrow.next { background: url("/themes/cayenne.fr/css/images/arrows_02.png") no-repeat 0 0;  }
#prev-m { left: 82px}
#next-m { left: 430px; }
#slider_m .featured-item a:hover img { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=1);}

.slider-c.right { position: relative; overflow: hidden; width: 177px; height: 370px; }
.slider-c.right h2 {float:left; font-size: 18px; line-height: 18px; color: #182023; }
.slider-c.right .top { height: 30px; }
.slider-c.right .top ul { float:right; width: 50px; height: 22px; }
.slider-c.right .top li { float:left; }
.slider-c.right .top li:first-child { margin-right: 6px; }

#slider-r .item { float:left; width: 180px; }
#slider-r .item-b { position: relative; width: 158px; height: 120px; margin-right: 10px; margin-bottom: 13px; padding: 10px; background-color: #eaeaea; border: 1px solid #e0e0e0; font-size: 13px; line-height: 18px; color: #000000; }
#slider-r .item-b img { margin-bottom: 3px; }
#slider-r .item-b span { position: absolute; top: 10px; left: 10px; padding: 0 5px; background: #000; background: rgba(0,0,0,0.67); color: #fff; font-size: 11px; line-height: 18px; }
#slider-r .item-b p { letter-spacing: -0.3px; }
#slider-r .item-b p, { letter-spacing: -1px; }
.btn { display: inline-block; height: 33px; border-radius: 4px; padding: 0 15px 0 40px; background: #182023 url("/themes/cayenne.fr/css/images/bullet_02.png") no-repeat 14px center; line-height: 33px; font-size: 13px; color: #fff; }
.btn:hover { text-decoration:none; background-color: rgba(24,32,35,0.7); color: rgba(255,255,255,0.7); }

.featured-section aside { width: 200px; }
aside .news-box { border: 1px solid #e1e1e1; margin-bottom: 13px; padding-bottom: 8px; font-size: 13px; line-height: 18px; color: #09223d; }
aside .news-box h2 { padding-left: 53px; height: 40px; margin-bottom: 10px; background: #6e2a81 url("/themes/cayenne.fr/css/images/bullet_01.png") no-repeat 10px center; font-size: 21px; line-height: 40px; color: #ffffff; }
aside .news-box img.left { margin: 0 8px 4px; }
aside .news-box p { padding: 0 8px 5px; }
aside .news-box a { color: #6f2c83; }
aside .news-box a.left { padding-left: 8px;}
aside .news-box a.right { padding-right: 8px;}
aside .news-box a:hover { text-decoration: none; opacity: 0.8; -moz-opacity: 0.8; filter:alpha(opacity=8); }

aside .wheather-box { height: 117px; border: 1px solid #e0e0e0; }

aside .wheather-box .left { width: 118px; padding: 9px 0; text-align:center; font-size: 15px; line-height: 19px; color: #5c5c5c;  }
aside .wheather-box .left span { font-size: 20px; line-height: 24px; }
aside .wheather-box .left span.temp { font-size: 62px; line-height: 66px; color: #1598ab; }
aside .wheather-box .right { height: 117px; width: 80px; background: #1598ab; text-align:center; color: #fff; font-size: 12px; line-height: 15px; }
aside .wheather-box .right:hover { background: rgba(21,151,171,0.7);}
aside .wheather-box .right a { color: #fff; }
aside .wheather-box .right a:hover { color: rgba(255,255,255,0.7); text-decoration:none; }

.box.right div {
  color: #000000;
}

.box.right div span {
  color: #FFFFFF;
}

.box.right div span a {
  color: #FFFFFF;
}

aside .vour-box { padding: 10px 5px 20px 12px; margin-bottom: 25px; background-color: #11559e;  }
aside .vour-box h2 { padding-bottom: 22px; color: #fff; font-size: 23px; line-height: 27px; }
aside .vour-box li { padding-left: 15px; padding-bottom: 5px; background: url("/themes/cayenne.fr/css/images/bullet_10.png") no-repeat 0 5px; }
aside .vour-box li a { color: #fff; }
aside .vour-box li a:hover { color: rgba(255,255,255,0.7); text-decoration: none; }
aside .vour-box li li { background: url("/themes/cayenne.fr/css/images/bullet_11.png") no-repeat 0 5px; }
aside .vour-box li li a { color: #a5cbf3;}
aside .vour-box li li a:hover { color: rgba(165,203,243,0.7); text-decoration:none; }
aside .vour-box li ul { padding-top: 5px; }

aside .aside-box { margin-bottom: 30px; }
aside .aside-box .box { margin-bottom: 10px; padding: 13px; border: 1px solid #e2e2e2; }
aside .aside-box h2 { margin-bottom: 10px; font-size: 23px; line-height: 27px; color: #182023; }
aside .aside-box a { display: block; font-size: 14px; line-height: 18px; color: #000000; }
aside .aside-box a:hover { text-decoration: none; color: rgba(0,0,0,0.7); }
aside .aside-box li { margin-bottom: 15px; padding-left: 16px; background: url("/themes/cayenne.fr/css/images/bullet_12.png") no-repeat 0 7px; font-size: 11px; line-height: 18px; color:#989898; }
aside .fb-widget { margin-bottom: 35px; } 
aside .aside-box .btn { color: #fff; font-size: 13px; line-height: 33px; }
aside .aside-box .btn:hover { color: rgba(255,255,255,0.7); }

.testimonials { height: 51px; margin-bottom: 15px; border: 1px solid #E1E1E1; padding: 0 23px 0 73px; background: #fff no-repeat 0 0; line-height: 51px;  } 
.testimonials a { position:relative; float:left; width: 842px; height: 51px; }
.testimonials .icone { position:relative; float:left; width: 57px; background: url("/themes/cayenne.fr/css/images/bullet_03.jpg"); margin-left:-73px; }
.testimonials span.left { font-size: 18px; color: #6E2A81; }
.testimonials span.right { font-size: 12px; color: #6f2c83; } 
.testimonials a:hover span.left { color: rgba(63,85,137,0.8); }
.testimonials a:hover span.right { color: rgba(111,44,131,0.7 ); }

.main { padding  -bottom: 32px; }
.main .content-col { width: 658px; padding-right: 20px; border-right: 1px solid #e7e7e7; }
.archive .main .content-col { padding-left: 18px; padding-bottom: 60px; }
.single .main .content-col { padding-left: 18px; padding-bottom: 60px; }
.page .main .content-col { padding-left: 18px; padding-bottom: 60px; }
.pages .main .content-col { padding-left: 18px; padding-bottom: 60px; }
.main .content-col .home-section h3 { width: 360px; padding-left: 59px; padding-bottom: 5px; border-bottom: 1px solid #e7e7e7; font-size: 27px; line-height: 46px; color: #182023; }

.news-container h3 { margin-bottom: 12px; background: url("/themes/cayenne.fr/css/images/bullet-news.png") no-repeat 0 center;}
.news-container { position:relative; margin-bottom: 25px; }
#news-slider span { display: inline-block; margin-bottom: 3px; padding: 0 7px; height: 26px; font-size: 15px; line-height: 26px; color: #fff; }
#news-slider span.cat_01  { background-color: #1598ab; }
#news-slider span.cat_02  { background-color: #11559e; }
#news-slider span.cat_03  { background-color: #3f83c0; }
#news-slider .item { float:left; width: 200px; height: 267px; margin-right: 29px; }
/*#news-slider .item:first-child { margin-right: 0; }*/
#news-slider .item img { margin-bottom: 5px;}
#news-slider .item h4 { padding-left: 10px; margin-bottom: 10px; font-size: 18px; line-height: 22px; color: #000000; }
#news-slider .item h4 a { color: #000; }
#news-slider .item h4 a:hover { color: rgba(0,0,0,0.7); text-decoration: none; }
#news-slider .item ul { padding-left: 10px; font-size: 15px; line-height: 20px; color: #727272; }
.news-container .arrow { position:absolute; top:18px; }
#prev-news { left:365px; }
#next-news { left: 395px; }
.main .aside { width: 218px; }

.boxes { margin-bottom: 10px; }
.boxes .box { width: 311px;; }
.main .content-col .boxes h3 { width: 250px; }
.boxes .box.left h3 { background: url("/themes/cayenne.fr/css/images/bullet_05.png") no-repeat 9px center; }
.boxes .box.right h3 { background: url("/themes/cayenne.fr/css/images/bullet_04.png") no-repeat 0 center; }
.boxes .box h3 { margin-bottom: 30px; }
.boxes .box .body { min-height: 300px; padding: 0 10px; font-size: 13px; line-height: 20px; color: #727272; }
.boxes .box .body img { margin-bottom: 15px; }
.boxes h4 { margin-bottom: 4px; font-size: 24px; line-height: 28px; color: #182023; }
.boxes h4 a { color: #182023; }
.boxes h4 a:hover { text-decoration:none; color: rgba(24,32,35,0.7); }
.boxes p { padding-bottom: 15px; }
.boxes .body > a { float: right;  font-size: 12px; line-height: 18px; color: #182023; }
.box .right { margin-top:83px; }

.list-boxes { margin-bottom: 46px; }
.list-boxes h3 { margin-bottom: 15px; background: url("/themes/cayenne.fr/css/images/bullet_06.png") no-repeat 0 center; }
.list-boxes .box { float: left; width: 178px; height: 183px; margin-left: 26px; padding: 12px; }
.list-boxes .box.first { margin-left: 0; }
.list-boxes .box h5 { margin-bottom: 15px; font-size: 23px; line-height: 28px; color: #fff; }
.list-boxes .box li { padding-left: 16px; background: url("/themes/cayenne.fr/css/images/bullet_07.png") no-repeat 0 center; font-size: 13px; line-height: 23px; color: #ffffff; }
.list-boxes .box li a { color: #fff; }
.list-boxes .box li a:hover { text-decoration:none; }

.list-boxes .box.blue { background-color: #3f83c0; }
.list-boxes .box.blue a:hover { color: #b2dbff }
.list-boxes .box.black { background-color: #000; }
.list-boxes .box.black a:hover { color: #a6adaf;  }
.list-boxes .box.green { background-color: #1598ab; }
.list-boxes .box.green a:hover { color: #a7e4ed; }

.main aside { width: 217px; }
aside .search { margin-bottom: 25px; }
aside .search input { width: 150px; height: 25px; padding: 10px 10px 10px 55px; background: #f2f2f2 url("/themes/cayenne.fr/css/images/search.png") no-repeat 0 0; border: 1px solid #e1e1e1; font-size: 13px; line-height: 25px; color: #696969;  }

.affiche-slider-c { margin-bottom: 35px; }
.affiche-slider-c h3 { padding-left: 40px; margin-bottom: 10px; height: 36px; background: url("/themes/cayenne.fr/css/images/bullet_08.png") no-repeat 0 0; font-size: 28px; line-height: 36px; color: #182023; }
#affiche-slider a:hover img { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=1);}
#thumbs_a img { margin: 0 2px; }
#thumbs_a img:hover { opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5);}
#affiche-nav { position: relative; padding: 11px 0 0 18px;}
#affiche-nav .arrow { position:absolute; top: 40px; }
#affiche-p { left: -2px; }
#affiche-n { right: -2px; }

.sondage-box { margin-bottom: 34px; }
.sondage-box h3 { margin-bottom: 10px; padding-left: 55px; background: url("/themes/cayenne.fr/css/images/bullet_09.png") no-repeat 0 0; font-size: 28px; line-height: 32px; color: #182023;  }
.sondage-box .box { background: #85bedc; }
.sondage-box .box .top { border-bottom: 1px solid #e7f2f8; padding: 10px; background: #11559e; font-size: 15px; line-height: 20px; color: #fff; }
.sondage-box .box form { padding: 18px 4px 8px 6px; }
.sondage-box label { margin-bottom: 10px;display:block; color: #fff; font: 12px/16px Tahoma, Arial, sans-serif; }
.sondage-box .radio-field .field { float:left; width: 100px; height: 17px; padding: 3px 10px; margin-top: -2px; background: #fff; border: 0; border-radius: 5px; font-size: 12px; line-height: 17px; color: #85bedc; }
.sondage-box .radio-field { margin-bottom: 10px;}
.sondage-box .submit-button { width: 147px; height: 34px; background: #11559e; border-radius: 4px; padding-left: 37px; color: #fff; font-size: 13px; line-height: 34px; text-align:left; }
.sondage-box .submit-button:hover { background-color: rgba(17,85,158,0.7); }
.sondage-box img.right { position:relative; margin: -7px 4px 0 0; }
.sondage-box a:hover { text-decoration:none; color: rgba(2,82,,170,0.7); }

/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }

.ez-radio { float: left; width: 13px; height: 14px; margin-right: 4px;margin-top: 1px; background: transparent url("/themes/cayenne.fr/css/images/radio-select.png") 0 0 no-repeat; display:inline-block; }
.ez-selected { background-position: 0 -22px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }

.footer-nav { height: 20px; padding: 10px 0; background: #d3d3d3; padding-left: 27px;  }
.footer-nav li { display:inline;  font-size: 13px; line-height: 20px; color: #182023; }
.footer-nav li a { padding: 0 7px; font-size: 13px; line-height: 20px; color: #182023; }
.footer-nav li a:hover {color: #6d6d6d; text-decoration:none; }

#footer { padding: 20px 0 15px; }

.copyright { padding-top: 18px; font-size: 12px; line-height: 24px; color: #fffefe; }
.copyright a { color: #88cbf1; }
.copyright a:hover { text-decoration:none; color: rgba(136,203,241,0.7); }
#footer li {float:left; }
#footer .logos { width: 200px; text-align:center; font-size: 10px; line-height: 12px; color: #fff; }
#footer .logos a { padding: 0 3px; }
#footer .logos p { padding-top: 5px; }

</style>
    <script src="/application.html_files/modernizr-latest.js"></script>
    <link rel="alternate" type="application/rss+xml" title="Mairie de Cayenne Feed" href="/feed/">

    <script src="/application.html_files/jquery.isotope.min.js" type="text/javascript" charset="utf-8" async="" defer=""></script>

    <!-- Add fancyBox -->
    <style media="screen" data-href="/themes/cayenne.fr/js/fancybox/jquery.fancybox.css?v=2.1.5">/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url("/themes/cayenne.fr/js/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url("/themes/cayenne.fr/js/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url("/themes/cayenne.fr/js/fancybox/blank.gif"); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url("/themes/cayenne.fr/js/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url("/themes/cayenne.fr/js/fancybox/fancybox_sprite@2x.png");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url("/themes/cayenne.fr/js/fancybox/fancybox_loading@2x.gif");
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
</style>
    <script type="text/javascript" src="/application.html_files/jquery.fancybox.pack.js"></script>
<style type="text/css">.fancybox-margin{margin-right:15px;}</style></head>
<body class="home blog">

  <!--[if lt IE 7]><p class="chromeframe">Votre navigateur est <em>ancient</em> <a href="http://browsehappy.com/">Mettez &agrave; jour vers un navigateur plus r&eacute;cent</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour d&eacute;couvrir toutes les fonctionnalit&eacute;s de ce site.</p><![endif]-->

  
  <div id="wrapper">


  <div id="wrapper">
       <div class="shell">
      <!-- content-box -->
      <section class="content-box">
        
        <!-- header -->
        <header id="header">
          <h1 id="logo" class="left"><a href="/" class="notext"></a></h1>
          <!-- <p>La page contient 66 requêtes SQL et son temps de chargement est de 2,0 secondes.</p> -->
           <nav id="navigation" class="right roboto">
              <ul>
<li class="list_01">
<a href="/#">Votre<span>mairie</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/le-maire/">Mot du Maire</a></li>
<li><a href="/organigramme-general-de-la-ville/">Organigramme Général de la Ville</a></li>
<li><a href="/le-conseil-municipal/">Le Conseil Municipal</a></li>
</ul>
<ul>
<li><a href="/actualites/">Actualités</a></li>
<li><a href="/agenda/">Agenda</a></li>
<li><a href="/informations-pratiques/">Informations pratiques</a></li>
</ul>
<ul>
<li><a href="/echo-capital/">Bulletins Municipaux</a></li>
<li><a href="/comite-des-agenstsvic/">Comité des Agents de la Ville de Cayenne (CAVIC)</a></li>
</ul>
  </div>
</div>
</li>
<li class="list_02">
<a href="/#">Cadre<span>de Vie</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/teleservices/particuliers/etat-civil/">Etat Civil</a></li>
<li><a href="/elections/">Élections</a></li>
<li><a href="/3008-2/">Développement Social Urbain</a></li>
</ul>
<ul>
<li><a href="/la-ville-de-cayenne-recrute/">La Ville de Cayenne recrute</a></li>
<li><a href="/conseils-de-quartier/">Vie des quartiers</a></li>
<li><a href="/les-seniors/">Séniors</a></li>
</ul>
<ul>
<li><a href="/solidarite-cayenne/">Solidarité</a></li>
<li><a href="/teleservices/associations/">Associations</a></li>
<li><a href="/2051-2/">Sport</a></li>
</ul>
<ul>
<li><a href="/laculture/">Culture</a></li>
<li><a href="/service-juridique-et-commande-publique/">Service juridique et commande publique</a></li>
<li><a href="/service-communication/">Service Communication</a></li>
</ul>
  </div>
</div>
</li>
<li class="list_03">
<a href="/#">Enfance<span>Education</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/petite-enfance/">Petite Enfance</a></li>
<li><a href="/enfance/">Enfance</a></li>
<li><a href="/etablissements-scolaires/">Etablissements scolaires</a></li>
</ul>
<ul>
<li><a href="/inscription-scolaire/">Inscriptions scolaires</a></li>
<li><a href="/activites-periscolaires/">Activités périscolaires, extrascolaires et garderie dans les écoles</a></li>
<li><a href="/restauration-scolaire/">Restauration scolaire</a></li>
</ul>
<ul>
<li><a href="/reforme-des-rythmes-scolaires-2/">Horaires des écoles</a></li>
</ul>
  </div>
</div>
</li>
<li class="list_04">
<a href="/#">Sécurité Sureté<span>Prévention</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/police-municipale/">Police Municipale</a></li>
<li><a href="/documents-utiles/">Documents utiles</a></li>
<li><a href="/video-protection/">La vidéoprotection à Cayenne</a></li>
</ul>
<ul>
<li><a href="/a-e-d/">Service des Affaires Economiques et Diverses</a></li>
<li><a href="/s-e-r-p/">S.E.R.P.</a></li>
<li><a href="/reglementations/">Réglementations</a></li>
</ul>
<ul>
<li><a href="/brigade-de-lurbanisme/">Brigade de l'Urbanisme</a></li>
<li><a href="/police-de-lenvironnement/">Police de l'Environnement</a></li>
<li><a href="/c-l-s-p-d/">C.L.S.P.D</a></li>
</ul>
  </div>
</div>
</li>
<li class="list_05">
<a href="/#">Office de<span>Tourisme</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/a-la-decouverte-de-cayenne/">Office de Tourisme</a></li>
<li><a href="/le-carnaval-de-guyane-2/">Cayenne, destination carnaval</a></li>
<li><a href="/un-peu-dhistoire/">Un peu d'Histoire</a></li>
</ul>
<ul>
<li><a href="/que-faire-a-cayenne/">Que faire à Cayenne</a></li>
<li><a href="/sites-touristiques/">Sites touristiques</a></li>
<li><a href="/se-deplacer-a-cayenne/">Se déplacer à Cayenne</a></li>
</ul>
<ul>
<li><a href="/5678-2/">Location de salles</a></li>
<li><a href="/hotels-et-hebergements/">Hôtels et Hébergements</a></li>
<li><a href="/les-magasin-touristiques/">Les magasins touristiques</a></li>
</ul>
<ul>
<li><a href="/restauration/">Restauration</a></li>
<li><a href="/la-taxe-de-sejour/">La Taxe de séjour</a></li>
<li><a href="/plan-de-la-ville/">Plan de la Ville</a></li>
</ul>
  </div>
</div>
</li>
<li class="list_06">
<a href="/#">Aménagement<span>de la Ville</span></a>
<div class="drop-down clear">
  <div class="sub-nav">
<ul>
<li><a href="/1-depot-de-permis-de-construire/depot-de-permis-de-construire/">Dépôt de permis de construire</a></li>
<li><a href="/urbanisme-2/">Urbanisme</a></li>
<li><a href="/travaux-2/">Travaux 2015</a></li>
</ul>
<ul>
<li><a href="/abandon-manifeste/">Abandon manifeste</a></li>
<li><a href="/projet-de-developpement-et-de-renovation-urbaine-pdru/">Projet de développement et de rénovation urbaine (PDRU)</a></li>
<li><a href="/pole-gestion-domaine-public-pgdp/">Pôle Gestion Domaine Public (PGDP)</a></li>
</ul>
<ul>
<li><a href="/bulletin-des-services-techniques/">Bulletins des Services Techniques</a></li>
<li><a href="/creation-du-casino-municipal-de-cayenne/">Création du casino municipal de Cayenne</a></li>
</ul>
  </div>
</div>
</li>
</ul>
            </nav>
        </header>
<section>
        <!-- end of header -->
<%=yield%>
      
			</section>
			<!-- end of content-box -->
			<nav class="footer-nav">
				<div class="menu"><ul><a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a> | <a></a></ul></div>
			</nav>

			<!-- footer -->
			<div id="footer" class="clearfix">
				<p class="copyright left">Tous droits réservés © Mairie de Cayenne 2022 - <strong>Site réalisé par l'<a href="http://www.netactions.net/" target="_blank">agence web Netactions</a></strong></p>
				<ul class="images right">
					 
					<li><a href="http://www.emairie.fr/" target="_blank"><img src="/application.html_files/footer-img.png" width="182" height="65" alt=""></a></li>
					<li class="logos">
						<img src="/application.html_files/footer-logo.jpg" width="76" height="50" alt="">
						<img src="/application.html_files/footer-logo-01.jpg" width="53" height="51" alt="">
						<p>Ce site a été cofinancé par <br>l’UNION EUROPEENE et la REGION GUYANE</p>
					</li>
				</ul>
			</div>
			<!-- end of footer -->

	     </div>
	</div>

    <script src="/application.html_files/jquery.ezmark.min.js"></script>
    <script src="/application.html_files/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/application.html_files/functions.js"></script>

    <script type="text/javascript" src="/application.html_files/wp-embed.min.js"></script>
<script type="text/javascript" src="http://cayenne.emairie.fr/wp-content/plugins/easy-fancybox/fancybox/jquery.fancybox-1.3.7.min.js?ver=1.5.7"></script>
<script type="text/javascript" src="http://cayenne.emairie.fr/wp-content/plugins/easy-fancybox/jquery.easing.pack.js?ver=1.3"></script>
<script type="text/javascript" src="http://cayenne.emairie.fr/wp-content/plugins/easy-fancybox/jquery.mousewheel.min.js?ver=3.1.12"></script>

<script type="text/javascript">
jQuery(document).on('ready post-load', easy_fancybox_handler );
</script>

    <style media="" data-href="/themes/cayenne.fr/css/surcharge.css">/* ###################### METEO ############################ */


div.wp-forecast {
  float: none;
  margin: 0;
  padding: 0;
}

div.wp-forecast-curr {
  font-size: 11px !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
}

div.wp-forecast-curr-head {
  display: none !important;
  font-size: 11px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 !important;
  text-align: center !important;
}

div.wp-forecast-curr-block {
  margin: 0 !important;
  padding: 0 !important;
}


div.wp-forecast-curr-right {
  float: left;
  font-size: 46px !important;
  font-variant: small-caps !important;
  font-weight: bolder !important;
  padding: 3px !important;
  text-align: center !important;
  width: 100% !important;
  color:#5BB6C4 !important;
}

div.wp-forecast-curr-left {
  float: left;
  margin: 10px;
  /*En attendant d'avoir le lien vers toutes les infos meteo*/
  margin-top:30px;
  padding: 3px;
}

div.wp-forecast-curr-details {
  display: none;
}

img.wp-forecast-curr-left {
  height: 40px !important;
  padding: 0 !important;
  width: 58px !important;
}


/* ###################### SONDAGE ############################ */


.sondage-box .box form {
  padding: 0 4px 0 6px !important;
}

.gfield_required {
  display: none !important;
}

.gform_wrapper ul li { border: none!important; padding-left: 0!important; background: none!important;}
.gform_wrapper input.button { width: 113px; height: 30px; font-size: 12px; color: #ebf5fa;  display:block; border: 0; background: url("/themes/cayenne.fr/css/../img/submit-btn.png") no-repeat 0 0; cursor: pointer; text-shadow: rgba(0,0,0,0.6) -1px 0px 0px; font-weight: bold; }
.gform_wrapper .gform_footer { padding-top: 0; }
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] { width: 312px; height: 15px; font-size: 12px; color: #787878; padding: 7px 10px; border: 1px solid #e8e8e8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.gform_wrapper .top_label textarea.textarea { width: 518px; height: 117px; padding: 10px; color: #787878;  font-size: 12px; border: 1px solid #e8e8e8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.gform_wrapper .top_label input:focus, .gform_wrapper .top_label textarea.textarea:focus { border-color: #c9ebfa;  }

.gform_wrapper {
  margin: 10px 0;
  max-width: 100%;
  overflow: inherit;
}

.gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
  margin: 6px 0;
  padding: 20px;
}

.sondage-box .box form {
  padding: 0 !important;
}

.gform_wrapper .top_label .gfield_label {
  background-color: #11559E;
  color: white;
  display: block;
  font-size: 12px;
  line-height: 17px;
  padding: 10px;
}

#gform_submit_button_1 {
  margin-left: 20px !important;
}


.gchoice_1_5 > input {
  width: 100px !important;
}

.gfield_contains_required {
  margin: 0 !important;
  padding: 0 !important;
}


.gform_wrapper div.validation_error {
  margin: 0;
  padding: 5px 10px 0;
}

.sondage-box {
  margin-bottom: 34px;
  overflow: hidden;
}

.gform_wrapper .top_label .gfield_error {
  width: auto;
}


.list-boxes .box.green {
  background-color: #1598AB;
  /*height: 140px;*/
  height:183px;

.gform_wrapper ul li {
  margin-bottom: 40px !important;
}

.gform_wrapper .gfield_radio li {
  margin-bottom: 10px !important;
}


/* ###################### LIEN TOUTES LES TELEPROCEDURES ############################ */



.btn.right.specialElement {
  margin-top: 10px;
}


/* ###################### MENU ############################ */


#navigation > ul > li {
  height: 157px;
}

#navigation .drop-down {
  height: 110px;
}

/*#navigation li.list_01 a, #navigation li.list_06 a {
  padding-top: 130px;
}*/
#navigation > ul > li > a {
  padding: 107px 11px 0;
}

.right, .alignright {
  margin-bottom: 20px;
}

#navigation .drop-down img {
  margin: 0 0 0 18px;
}

#navigation .drop-down ul {
  margin-left: 20px;
}


#navigation .drop-down ul {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* ###################### HOME ACTU LAST ############################ */



.item-b a {
  color: black;
}


/* ###################### SLIDER ############################ */


.right, .alignright {
  margin-bottom: 0 !important; 
}

.featured-section {
    padding-bottom: 0 !important; 

}

.thumbs_m {
  height: 46px !important;
}


/* ###################### MOT DU MAIRE ############################ */

aside .news-box h2 {
/*  font-size: 16px;*/
}



.nobottommargin {
  margin-bottom: 0 !important;
}




/* ###################### LOGO ############################ */


h1#logo {
  padding: 31px 0 0 18px;
  width: 190px;
}


#header { margin-bottom: 45px; }


/* ###################### PAGINATION  ############################ */


.wp-pagenavi {

}

.wp-pagenavi {  height: 17px;
  padding: 9px; background: #3f83c0; }
.wp-pagenavi .info { display: block; float: left; margin-right: 10px; background: #11559e; padding: 2px 5px; font-size: 12px; line-height: 20px; color: #f3f3f3; }
.wp-pagenavi ul li a { padding: 0 6px; color:white; font-size: 13px; line-height: 24px; }
.wp-pagenavi ul li a:hover { background:#f3f3f3; color: #004478; text-decoration:none; }
.wp-pagenavi ul { float:left; }
.wp-pagenavi ul li { float:left; padding-left: 6px; }
.wp-pagenavi ul li a.prev { padding-left: 18px; background: url("/themes/cayenne.fr/css/images/bullet_14.png") no-repeat 0 center; }
.wp-pagenavi ul li a.next { margin-left: 15px; padding-right: 18px; background: url("/themes/cayenne.fr/css/images/bullet_15.png") no-repeat right center; }
.wp-pagenavi ul li a.prev:hover ,..wp-pagenavi ul li a.next:hover { background-color: none; color: rgba(243,243,243,0.7); }

.wp-pagenavi a, .wp-pagenavi span {
  border: 1px solid white;
  color: white;
  margin: 2px;
  padding: 3px 5px;
  text-decoration: none;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
  background-color: #11559E;
  border-color: #11559E;
}

.pages {
  background-color: #11559E;
  border: medium none !important;
}


/* ###################### VIDEOS  ############################ */



.meta.roboto_b_surcharge {
  border: medium none;
  color: #777777;
  float: left;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}


/* ###################### VIDEOS  ############################ */


.extended {
  border-right:none!important;
    padding-right: 20px!important;
    width: 898px !important;
}


/* ###################### MARCHES PUBLICS  ############################ */


.post .box a {
  color: black;
}




/* ###################### 404  ############################ */


.search-query {
  padding: 6px;
}




/*  Phototheque  */

.photothequeBloc > ul {
  clear: both;
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

#filters > li {
  float: left;
  margin-right: 30px;
  position: relative;
}

#containerPhototheque {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}


#containerPhototheque section.element.slide {
    position: relative;
    float: left;
    width: 190px;
    margin: 5px;
}


.isotope-item h4 {
  height: 22px;
}


.adthisArticle {
  float: left;
  position: absolute;
  width: 180px;
}


/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


.photothequeBloc {

}

.photothequeBloc .element.slide {
    width: 180px;
    height: 240px;
    overflow: hidden;
}

.fancy.phototheque2 > span {
    color: #93C119;
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



.boximage {
  float: left;
  height: 170px;
  width: 215px;
  overflow: hidden;
}

.loopPhototheque {
  clear: both;
  margin: 0 auto;
  width: 100%;
}


#filters > li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-right: 1px solid #109344;
  clear: none;
  float: left !important;
  list-style-type: none;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
}

#post-4151 > ul {
  margin-top: 10px;
}








.content-col article table td {
    line-height: normal;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    font-weight: normal;
}

</style>


</div></body></html>